
/ .row
/   .span4
/     %h1 new idea

/     = render 'new'

/   .span8
/     %h1 all ideas

/     = render @ideas

#ideas

:javascript
  $(function() {
    // Blog is the app name
    window.router = new Spark.Routers.IdeasRouter({ideas: #{@ideas.to_json.html_safe}});
    Backbone.history.start();
  });