
.navbar.navbar-inverse
	.navbar-inner
		%a.brand{ :href => root_path }
			%b
				Spark
		.pull-right
			%ul.nav
				- if current_user
					%li
						%a{ :href => '/signout' }
							%b Sign Out
					%li
						%a{ :href => ideas_path }
							%b Ideas

				- else
					%li
						%a{ :href => new_user_session_path }
							%b Login
					%li
						%a{ :href => new_user_registration_path }
							%b Sign Up
				%li
					%a{ :href => '//github.com/aaasen/spark' }
						%b Github

